<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Skills</title>
  </head>
  <body style="background-color:rgb(255, 234, 234);">
    <h1 style="color:rgb(118, 123, 196);">My Skills!</h1>
    <ul>
        <% skills.forEach(function(s) { %>
            <a href="/skills/<%= s.id %>"><li>
              <%= s.skill %> - <%= s.proficient ? 'proficient' : 'not proficient' %></li></a>
              <li>
                <form action="/skills/<%= s.id %>?_method=DELETE"
                  class="delete-form" method="POST">
                  <button type="submit"> DELETE <%= s.skill %> </button>
                </form>
              </li>
            <% }); %>
      

    </ul>
  </body>
</html>
